body{
    margin: 20px;
    padding: 0px;
    font-family: Arial;
}
a{
    text-decoration: none;
}
#container{
    width: 1100px;
    height: 2000px;
    background: aliceblue;
    margin: auto;
}
#menu{
    width: 100%;
    height: 50px;
}
#menu ul{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
#menu >ul{
    background: gainsboro;
}
#menu ul li{
    list-style: none;
    float: left;
    padding: 15px 0 15px 0;
}
#menu ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#menu ul li a{
    font-weight: bold;
    margin: 0 30px 0 30px;
}
#menu ul li:hover a{
    color: white;
}
#container .conent1{
    padding-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    color: black;
}
#container .conent1 .title{
    font-size: 36px;
    font-weight: bold;
}
#nav{
    height: 55px;
    width: 100%;
    padding: 0px;
    background: blanchedalmond;
}
#nav ul{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
#nav >ul{
}
#nav ul li{
    list-style: none;
    float: left;
    padding: 15px 25px 15px 25px;
}
#nav ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#nav ul li a{
    font-weight: bold;
}
#nav ul li:hover a{
    color: white;
}
#section-heading {
    width: 100%;
}
#section-heading .lab1 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}
#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

#section-heading ul li a {
    color: black;
    text-align: center;
}
#section-heading ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#section-heading ul li:hover a{
    color: white;
}
#section-heading .tab-content {
    width: 100%;
    float: left;
}
#section-heading .tab-content .tab-pane {
    margin-left: 25px;
}
#section-heading .tab-content .tab-pane .content{
    font-size: 20px;
    padding-right: 50px;
}
#section-heading .lab2 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}
#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

#section-heading ul li a {
    color: black;
    text-align: center;
}
#section-heading ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#section-heading ul li:hover a{
    color: white;
}
#section-heading .tab-content {
    width: 100%;
    float: left;
}
#section-heading .tab-content .tab-pane {
    margin-left: 25px;
}
#section-heading .tab-content .tab-pane .content{
    font-size: 20px;
    padding-right: 50px;
}
#section-heading .lab3 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}
#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

#section-heading ul li a {
    color: black;
    text-align: center;
}
#section-heading ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#section-heading ul li:hover a{
    color: white;
}
#section-heading .tab-content {
    width: 100%;
    float: left;
}
#section-heading .tab-content .tab-pane {
    margin-left: 25px;
}
#section-heading .tab-content .tab-pane .content{
    font-size: 20px;
    padding-right: 50px;
}
#section-heading .lab4 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}
#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

#section-heading ul li a {
    color: black;
    text-align: center;
}
#section-heading ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#section-heading ul li:hover a{
    color: white;
}
#section-heading .tab-content {
    width: 100%;
    float: left;
}
#section-heading .tab-content .tab-pane {
    margin-left: 25px;
}
#section-heading .tab-content .tab-pane .content{
    font-size: 20px;
    padding-right: 50px;
}
#section-heading .lab5 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}
#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

#section-heading ul li a {
    color: black;
    text-align: center;
}
#section-heading ul li:hover{
    color: white;
    cursor: pointer;
    background: darkred;
}
#section-heading ul li:hover a{
    color: white;
}
#section-heading .tab-content {
    width: 100%;
    float: left;
}
#section-heading .tab-content .tab-pane {
    margin-left: 25px;
}
#section-heading .tab-content .tab-pane .content{
    font-size: 20px;
    padding-right: 50px;
}
#section-heading #implement {
    background: white;
    width: 950px;
    height: 700px;
    margin-left: 80px;
    padding: 50px;
}
#section-heading #implement h3 {
    color: red;
    text-align: center;
    font-weight: bold;
}
#section-heading #implement .timkiem{
    margin-top: 50px;
    float: left;
}
#section-heading #implement .timkiem .pix-txt{
    width: 350px;
    height: 40px;
    border: 1px solid;
    background: #E2D6D6;
    padding-left: 10px;
}
#section-heading #implement .btn{
    float: right;
    margin-right: 100px;
}
#section-heading #implement .btn .btnfind{
    float: left;
    margin-top: 50px;
}
#section-heading #implement .btn .btnfind .findbtn{
    background: #FB7C07;
    width: 100px;
    height: 30px;
    border: 1px solid;
}
#section-heading #implement .btn .btnadd{
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}
#section-heading #implement .btn .btnadd .addbtn{
    background: #FB7C07;
    width: 100px;
    height: 30px;
    border: 1px solid;
}
#section-heading #implement .tablepane{
    padding-top: 120px;
}
#section-heading #implement .tablepane .table{
    text-align: center;
    border: 1px black double;
}
#section-heading #implement .btnnext{
    float: right;
}
#section-heading #implement .btnnext .btnpage  {
    float: left;
    margin-top: 50px;
}
#section-heading #implement .btnnext .btnpage .btnfooter{
    background: #FFF3F3;
    border: 1px solid;
}
#section-heading #implement .them{
    margin-top: 200px;
    border: 1px solid #eeeeee;
    height: 300px;
    width: 600px;
    margin-left: 150px;
    background: white;
    color: black;
}
#section-heading #implement .them h4{
    padding-top: 50px;
    font-weight: bold;
    padding-left: 70px;
}
#section-heading #implement .them .masp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .them .masp .ma{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .them .tensp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .them .tensp .ten{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .them .giasp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .them .giasp .gia{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .sua{
    margin-top: 50px;
    border: 1px solid #eeeeee;
    height: 300px;
    width: 600px;
    margin-left: 150px;
    background: white;
    color: black;
}
#section-heading #implement .sua h5{
    padding-top: 50px;
    font-weight: bold;
    padding-left: 70px;
}
#section-heading #implement .sua .masp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .sua .masp .ma{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .sua .tensp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .sua .tensp .ten{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .sua .giasp{
    padding-left: 200px;
    padding-top: 20px;
}
#section-heading #implement .sua .giasp .gia{
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}
#section-heading #implement .xoa{
    margin-top: 100px;
    border: 1px solid #eeeeee;
    height: 250px;
    width: 400px;
    margin-left: 250px;
    background: white;
    color: black;

}
#section-heading #implement .xoa h6{
    padding-top: 50px;
    font-weight: bold;
    padding-left: 70px;
}
#section-heading #implement .xoa .text{
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}
#section-heading #implement .xoa .bt{
    margin-left: 95px;
}
#section-heading #implement .xoa .cobt{
    float: left;
    margin-top: 50px;
}
#section-heading #implement .xoa .cobt .cobtn{
    background: #FB7C07;
    width: 100px;
    height: 30px;
    border: 1px solid;
}
#section-heading #implement .xoa .khongbt{
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}
#section-heading #implement .xoa .khongbt .khongbtn{
    background: #FB7C07;
    width: 100px;
    height: 30px;
    border: 1px solid;
}
#section-heading #design{
    width: 950px;
    height: 2000px;
    padding: 50px;
    margin: auto;
}
#section-heading #design .vetay{
    height: 600px;
    width: 900px;
    border: 1px solid #eeeeee;
    background: white;
}
#section-heading #design .vetay h3{
    text-align: center;
    padding-top: 20px;
}
#section-heading #design .vetay .image1{
    margin: 50px;
}
#section-heading #design .vetay .image1 .down{
    background: #CCCCCC;
    color: #1b2426;
    float: right;
    margin-top: 20px;
}
#section-heading #design .figma{
    margin-top: 50px;
    height: 700px;
    width: 900px;
    border: 1px solid #eeeeee;
    background: white;
}
#section-heading #design .figma h3{
    text-align: center;
    padding-top: 20px;
}
#section-heading #design .figma .image2{
    margin: 50px;
}
#section-heading #design .figma .image2 .down2{
    background: #CCCCCC;
    color: #1b2426;
    float: right;
    margin-top: 20px;
}
#section-heading #design .buttondownall{
    float: right;
}
#section-heading #design .buttondownall .downall{
    background: #CCCCCC;
    color: #1b2426;
    float: right;
    margin-top: 20px;
}
#content {
    height: 2000px;
    margin-top: 30px;

}
#content .header {
    width: 720px;
    height: 200px;
    margin: auto;
}
#content .header .h1 {
    font-size: 18px;
    font-family: "Times New Roman";
    text-align: center;
    color:  #606E88;
}
#content .header .h2 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color:  #1b2426;
    padding-top: 10px;
}
#content #content1 {
    /*width: 400px;*/
    height: 300px;
    margin: auto;


}
#content1 .cont1 {
    width: 400px;
    height: 300px;
    float: left;
    border: 1px solid black;
    background: white;
    margin-top: 20px;
    margin-left: 200px;
}
#content1  .name{
    width: 400px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid black;
}
#content1  .name .n{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}
#content1  .name .nt{
    padding-top: 5px;
}
#content1  .info{
    margin-top: 30px;
}
#content1  .info .inf{
    text-align: center;
}
#content1 .social {
    width: 400px;
    height: 50px;
    margin-left: 105px;
    margin-top: 30px;
}
#content1 .social .bt {
    background: white;
    border-style: none;
    margin-left: 15px;
}
#content1 .img1 {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}

#content #content2 {
    /*width: 400px;*/
    height: 300px;
    margin: auto;

}
#content2 .cont2 {
    width: 400px;
    height: 300px;
    float: left;
    border: 1px solid black;
    background: white;
    margin-top: 20px;
    margin-left: 200px;
}
#content2  .name{
    width: 400px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
#content2  .name .n{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

#content2  .info{
    margin-top: 30px;
}
#content2  .info .inf{
    text-align: center;
}
#content2 .social {
    width: 400px;
    height: 50px;
    margin-left: 105px;
    margin-top: 30px;
}
#content2 .social .bt {
    background: white;
    border-style: none;
    margin-left: 15px;
}
#content2 .img2 {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}

#content #content3 {
    /*width: 400px;*/
    height: 300px;
    margin: auto;
}
#content3 .cont3 {
    width: 400px;
    height: 300px;
    float: left;
    border: 1px solid black;
    background: white;
    margin-top: 20px;
    margin-left: 200px;
}
#content3  .name{
    width: 400px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
#content3  .name .n{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

#content3  .info{
    margin-top: 30px;
}
#content3  .info .inf{
    text-align: center;
}
#content3 .social {
    width: 400px;
    height: 50px;
    margin-left: 105px;
    margin-top: 30px;
}
#content3 .social .bt {
    background: white;
    border-style: none;
    margin-left: 15px;
}
#content3 .img3 {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}


#content #content4 {
    /*width: 400px;*/
    height: 300px;
    margin: auto;

}
#content4 .cont4{
    width: 400px;
    height: 300px;
    float: left;
    border: 1px solid black;
    background: white;
    margin-top: 20px;
    margin-left: 200px;
}
#content4  .name{
    width: 400px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
#content4  .name .n{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

#content4  .info{
    margin-top: 30px;
}
#content4  .info .inf{
    text-align: center;
}
#content4 .social {
    width: 400px;
    height: 50px;
    margin-left: 105px;
    margin-top: 30px;
}
#content4 .social .bt {
    background: white;
    border-style: none;
    margin-left: 15px;
}
#content4 .img4 {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}


#content #content5 {
    /*width: 400px;*/
    height: 300px;
    margin: auto;

}
#content5 .cont5{
    width: 400px;
    height: 300px;
    float: left;
    border: 1px solid black;
    background: white;
    margin-top: 20px;
    margin-left: 200px;
}
#content5  .name{
    width: 400px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
#content5  .name .n{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

#content5  .info{
    margin-top: 30px;
}
#content5  .info .inf{
    text-align: center;
}
#content5 .social {
    width: 400px;
    height: 50px;
    margin-left: 105px;
    margin-top: 30px;
}
#content5 .social .bt {
    background: white;
    border-style: none;
    margin-left: 15px;
}
#content5 .img5 {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}




